@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1440px;
    height: 900px;
    background-color: hsl(0, 0%, 98%);

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 60px auto;
    grid-gap: 5px;

    font-family:'Epilogue', sans-serif;
}


header{
    grid-column-start: 1;
    grid-column-end: 3;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
}
.box1, .box2{
    display: block;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgba(104, 104, 104, 0.267);
}
.box1{
    width: 140px;
    height: 180px;
    top: 55px;
    left: 100px;
}
.box2{
    width: 110px;
    height: 150px;
    top: 55px;
    left: 275px;
}
.line{
    width: 85%;
    height: 40px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family:'Epilogue', sans-serif;
    color: hsl(0, 0%, 41%);
}
span{
    font-weight: bold;
}
.main{
    width: auto;
    height: 100%;

    display: flex;
    flex-direction: row;
}
.logo{
    height: 50px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.infos{
    width: 600px;
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.op{
    width: 90px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: hsl(0, 0%, 41%);
    cursor: pointer;
}
.op:hover{
    color: hsl(0, 0%, 8%);
}
.features{
    justify-content: space-around;
}
.company{
    justify-content: space-around;
}
.signIn{
    width: 200px;
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    color: hsl(0, 0%, 41%);
}
.register{
    width: 90px;
    height: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 2px solid hsl(0, 0%, 41%);
    border-radius: 15px;
    
    cursor: pointer;
}
.register:hover{
    border: 2px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
}
.icon{
    width: 50px;
    height: 30px;
    display: none;
    margin: 6px 10px 0px 0px;
}
.bar{
    width: 80%;
    height: 4px;
    background-color: hsl(0, 0%, 8%);
}


section{
    width: auto;
    height: auto;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
    font-family:'Epilogue', sans-serif;

    padding-left: 90px;
    padding-top: 70px;
}
h1{
    width:500px;
    font-size: 80px;
    line-height: 80px;
    color:hsl(0, 0%, 8%);
}
p{
    width: 450px;
    font-size: 20px;
    line-height: 30px;
    color:hsl(0, 0%, 41%);
}
.learn{
    width: 180px;
    height: 60px;
    background-color: hsl(0, 0%, 8%);

    display: flex;
    justify-content: center;
    align-items: center;
 
    font-weight: bold;
    font-size: 20px;
    color:hsl(0, 0%, 98%);
    
    border-radius: 15px;
    cursor: pointer;
}
.learn:hover{
    background-color: hsl(0, 0%, 98%);
    border: 1px solid hsl(0, 0%, 8%);
    color:hsl(0, 0%, 8%);
    font-weight: bold;
}
.footer{
    width: 70%;
    
    display: flex;
    justify-content: space-around;
}


aside{
    width: auto;
    height: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    object-fit: contain;
}
.image{
    height: 600px;
    object-fit: fill;
}
.mobile_image{
    width: 100%;
    display: none;
    object-fit: contain;
}



@media( max-width: 375px){  
     body{
        width: 375px;
        height: 780px;
        
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 40px auto auto;
        grid-gap: 0px;
    }

    header{
        width: 100%;
    }
    .infos, .signIn{
        display: none;
    }
    .icon{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    section{
        grid-row-start: 3;
        grid-row-end: 4;
        
        width: 375px;
        height: auto;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        padding-top: 20px;
        padding-left: 0px;
    }
    br{
        display: none;
    }
    h1, p{
        text-align: center;
    }
    h1{
        font-size: 40px;
    }
    p{
        width: 365px;
        font-size: 20px;
    }
    .learn{
        width: 110px;
        height: 50px;
        font-size: 17px;
    }
    .footer{
        width: 100%;
    }
    .footer img{
        width: 80px;
    }
    

    aside{
        grid-row-start: 2;
        grid-row-end: 3;
        
        width: 375px;
        height: auto;
    }
    .image{
        display: none;
    }
    .mobile_image{
        display: block;
    }
}